MQTT_HOST=localhost
MQTT_PORT=1883

API_HOST=localhost
API_PORT=3000

JWT_SECRET=hunter2

DATABASE_URL=postgres://postgres:password@localhost:5432/facade

GROUPER_URL=http://grouper:3000
HOSTER_URL=http://hoster:3000
SCHEDULER_URL=http://scheduler:3000
