name: Build docker images

on:
  workflow_dispatch:
    inputs:
      image-name:
        description: Docker image to be built
        required: true
        type: choice
        options:
          - vsb-eink/dashboard-vue
          - vsb-eink/compressor
          - vsb-eink/facade
          - vsb-eink/grouper
          - vsb-eink/hoster
          - vsb-eink/renderer
          - vsb-eink/scheduler
      image-version:
        description: Manually set image tag, defaults to branch name and latest
        required: false
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: [ubuntu-latest]
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Github Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker image
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/vsb-eink/${{ inputs.image-name }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: ${{ matrix.package-name }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
