name: Build docker image

on:
  workflow_dispatch:
    inputs:
      image-name:
        description: Docker image to be built
        required: true
        type: choice
        options:
          - dashboard-vue
          - compressor
          - facade
          - grouper
          - hoster
          - renderer
          - scheduler

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: [ubuntu-latest]
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Github Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract package version
        id: package-version
        run: |
          package_name=${{inputs.image-name}}
          if [ "$package_name" == "dashboard-vue" ]; then
            package_type="apps"
          else
            package_type="services"
          fi
          echo "PACKAGE_VERSION=$(jq -r .version $package_type/$package_name/package.json)" >> $GITHUB_OUTPUT

      - name: Extract metadata for Docker image
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/vsb-eink/${{ inputs.image-name }}
          tags: |
            type=raw,value=${{ steps.package-version.outputs.PACKAGE_VERSION }},enable={{is_default_branch}}
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=sha

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: ${{ inputs.image-name }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
